<a href="https://colab.research.google.com/github/monikaduran/Aborto/blob/master/Preprocesamiento_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cargar y ver información básica del conjunto de datos

In [ ]:
# Subir archivos
from google.colab import files
uploaded = files.upload()

Saving movie.csv to movie.csv

In [ ]:
# Leer el dataset usando la libreria pandas. Librería que permite cargar datos, modelar, analizar, manipular y prepararlos.
import pandas as pd

datos = pd.read_csv("movie.csv")

In [ ]:
# Mostrar el tipo de dato de cada variable
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [ ]:
#Devuelve las primeras n filas de nuestro conjunto de datos
datos.head(5)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [ ]:
# Devuelve las n últimas filas de nuestro conjunto de datos

datos.tail (3)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [ ]:
# Devuelve estadísticas descriptivas incluyendo aquellas que resumen la tendencia central, dispersión y la forma de la distribución de los datos.
datos.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

# Filtrar y manipular datos

### Filtrar columnas y filas específicas

In [ ]:
# se utilizan corchetes [] para obtener cualquier columna
datos['actor_2_name']

0       Joel David Moore
1          Orlando Bloom
2           Rory Kinnear
3         Christian Bale
4             Rob Walker
              ...
5038       Daphne Zuniga
5039       Valorie Curry
5040       Maxwell Moody
5041       Daniel Henney
5042    Brian Herzlinger
Name: actor_2_name, Length: 5043, dtype: object

### Filtrar con condiciones

In [ ]:
# Mostrar las filas en las que el director de la pelicula sea James Cameron
datos[datos['actor_2_name'] == 'Orlando Bloom']

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
13,Color,Gore Verbinski,313.0,151.0,563.0,1000.0,Orlando Bloom,40000.0,423032628.0,Action|Adventure|Fantasy,...,1832.0,English,USA,PG-13,225000000.0,2006.0,5000.0,7.3,2.35,5000
147,Color,Wolfgang Petersen,220.0,196.0,249.0,844.0,Orlando Bloom,11000.0,133228348.0,Adventure,...,1694.0,English,USA,R,175000000.0,2004.0,5000.0,7.2,2.35,0
205,Color,Gore Verbinski,271.0,143.0,563.0,1000.0,Orlando Bloom,40000.0,305388685.0,Action|Adventure|Fantasy,...,2113.0,English,USA,PG-13,140000000.0,2003.0,5000.0,8.1,2.35,10000
270,Color,Peter Jackson,297.0,171.0,0.0,857.0,Orlando Bloom,16000.0,313837577.0,Action|Adventure|Drama|Fantasy,...,5060.0,English,New Zealand,PG-13,93000000.0,2001.0,5000.0,8.8,2.35,21000
275,Color,Ridley Scott,239.0,194.0,0.0,195.0,Orlando Bloom,14000.0,47396698.0,Action|Adventure|Drama|History|War,...,942.0,English,USA,R,130000000.0,2005.0,5000.0,7.2,2.35,0
340,Color,Peter Jackson,294.0,172.0,0.0,857.0,Orlando Bloom,16000.0,340478898.0,Action|Adventure|Drama|Fantasy,...,2417.0,English,USA,PG-13,94000000.0,2002.0,5000.0,8.7,2.35,10000

In [ ]:
# filas en las que el director de la pelicula sea James Cameron y el genero sea Documental (Documentary)
#datos[(datos['director_name'] == 'Daniel Hsia')& (datos['genres'] =='Drama|Romance')]
datos[(datos['actor_2_name'] == 'Orlando Bloom') & (datos['genres']== 'Action|Adventure|Drama|Fantasy')]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
270,Color,Peter Jackson,297.0,171.0,0.0,857.0,Orlando Bloom,16000.0,313837577.0,Action|Adventure|Drama|Fantasy,...,5060.0,English,New Zealand,PG-13,93000000.0,2001.0,5000.0,8.8,2.35,21000
340,Color,Peter Jackson,294.0,172.0,0.0,857.0,Orlando Bloom,16000.0,340478898.0,Action|Adventure|Drama|Fantasy,...,2417.0,English,USA,PG-13,94000000.0,2002.0,5000.0,8.7,2.35,10000

# Limpieza de Datos

In [ ]:
# observar los tipos de datos de todas las columnas 

datos.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [ ]:
# convertir tipo de dato de variable title_year (año de estreno)
import numpy as np
datos.title_year.astype (str)

0       2009.0
1       2007.0
2       2015.0
3       2012.0
4          nan
         ...
5038    2013.0
5039       nan
5040    2013.0
5041    2012.0
5042    2004.0
Name: title_year, Length: 5043, dtype: object

## Eliminar Datos perdidos

In [ ]:
# Existen valores NA (Valores NO asignados). Para saber cuantos hay por columna
datos.isna().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [ ]:
# # Existen valores NA (Valores NO asignados). Para saber porcentaje por columna
((datos.isnull().sum() / len(datos))*100)

color                         0.376760
director_name                 2.062265
num_critic_for_reviews        0.991473
duration                      0.297442
director_facebook_likes       2.062265
actor_3_facebook_likes        0.456078
actor_2_name                  0.257783
actor_1_facebook_likes        0.138806
gross                        17.529248
genres                        0.000000
actor_1_name                  0.138806
movie_title                   0.000000
num_voted_users               0.000000
cast_total_facebook_likes     0.000000
actor_3_name                  0.456078
facenumber_in_poster          0.257783
plot_keywords                 3.033908
movie_imdb_link               0.000000
num_user_for_reviews          0.416419
language                      0.237954
country                       0.099147
content_rating                6.008328
budget                        9.756098
title_year                    2.141582
actor_2_facebook_likes        0.257783
imdb_score                    0.000000
aspect_ratio                  6.523895
movie_facebook_likes          0.000000
dtype: float64

In [ ]:
# Existen valores NA (Valores NO asignados). Para Eliminarlos
datos = datos.dropna(subset=["title_year"])

In [ ]:
datos.isna().sum()

color                         15
director_name                  0
num_critic_for_reviews        41
duration                      12
director_facebook_likes        0
actor_3_facebook_likes        18
actor_2_name                  10
actor_1_facebook_likes         7
gross                        779
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  18
facenumber_in_poster          13
plot_keywords                140
movie_imdb_link                0
num_user_for_reviews          15
language                       9
country                        1
content_rating               261
budget                       392
title_year                     0
actor_2_facebook_likes        10
imdb_score                     0
aspect_ratio                 307
movie_facebook_likes           0
dtype: int64

In [ ]:
datos['title_year']

0       2009.0
1       2007.0
2       2015.0
3       2012.0
5       2012.0
         ...
5037    2011.0
5038    2013.0
5040    2013.0
5041    2012.0
5042    2004.0
Name: title_year, Length: 4935, dtype: float64

# DATASET 2

In [ ]:
# Subir archivos
from google.colab import files
uploaded = files.upload()

Saving compras.csv to compras.csv

In [ ]:
# Leer el dataset usando la l ibreria pandas. Librería que permite cargar datos, modelar, analizar, manipular y prepararlos.
import pandas as pd

compras = pd.read_csv("compras.csv")

In [ ]:
compras.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IdCliente      14 non-null     int64
 1   Estado_Civil   12 non-null     object
 2   Profesion      13 non-null     object
 3   Estudios_Univ  14 non-null     object
 4   Tiene_Auto     11 non-null     object
 5   Compra         14 non-null     object
dtypes: int64(1), object(5)
memory usage: 800.0+ bytes

In [ ]:
compras

    IdCliente Estado_Civil  Profesion Estudios_Univ Tiene_Auto Compra
0           1       Casado  Empresari            Si         No     No
1           2       Casado  Empresari            Si         Si     No
2           3          NaN  Empresari            Si        NaN     Si
3           4        Viudo   Desemple            Si         No     Si
4           5        Viudo   Empleado            No         No     Si
5           6        Viudo        NaN            No         Si     No
6           7      Soltero   Empleado            No         Si     Si
7           8       Casado   Desemple            Si         No     No
8           9       Casado   Empleado            No         No     Si
9          10        Viudo   Desemple            No        NaN     Si
10         11          NaN   Desemple            No         Si     Si
11         12      Soltero   Desemple            Si         Si     No
12         13      Soltero  Empresari            No         No     Si
13         14        Viudo   Desemple            Si        NaN     No

In [ ]:
# Quitar filas que contienen valores perdidos

nuevocompras= compras.dropna()
nuevocompras

    IdCliente Estado_Civil  Profesion Estudios_Univ Tiene_Auto Compra
0           1       Casado  Empresari            Si         No     No
1           2       Casado  Empresari            Si         Si     No
3           4        Viudo   Desemple            Si         No     Si
4           5        Viudo   Empleado            No         No     Si
6           7      Soltero   Empleado            No         Si     Si
7           8       Casado   Desemple            Si         No     No
8           9       Casado   Empleado            No         No     Si
11         12      Soltero   Desemple            Si         Si     No
12         13      Soltero  Empresari            No         No     Si

In [ ]:
# Quitar columnas que contengan valores perdidos
nuevocompras2= compras.dropna(axis=0)
nuevocompras2

    IdCliente Estudios_Univ Compra
0           1            Si     No
1           2            Si     No
2           3            Si     Si
3           4            Si     Si
4           5            No     Si
5           6            No     No
6           7            No     Si
7           8            Si     No
8           9            No     Si
9          10            No     Si
10         11            No     Si
11         12            Si     No
12         13            No     Si
13         14            Si     No